{% extends 'base.html' %}
{% load static %}

      {% block content %}
      {{block.super}}
      <!-- table will take place here -->
      <h1> {{id.name}} </h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Id</th>
            <th scope="col">Tittle</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
        {% for i in data %}
          <tr>
            <th scope="row"> {{i.userId}} </th>
            <td> {{i.id}}</td>
            <td> {{i.tittle}} </td>
            <td> {{i.body}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    <h1>Inside the first App</h1>
    <img src="{% static 'images/download.jpg' %}" alt="new bird">
    {% endblock %}
