{% extends "base.html" %}
{% block content %}
<div class='w-75 m-auto row'>
    
    {% for task in data %}
        <div class="card col-3 m-2" style="width: 18rem;">
            <div class="card-body">
                <p> Id: {{task.id}} </p>
                <p> Date: {{task.task_assign_date}} </p>
                <h5>Title: {{task.task_tittle}} </h5>
                <p> Details: {{task.task_description}} </p>
                
               
                <p>
               category:
               {% for category in task.category.all %}
               <button class="btn btn-sm btn-success">{{category.category_name}}</button>
               {% endfor %}
               


                </p>
            
                {% if not task.is_completed  %}
                    <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                {% else %}
                    <a href="#" class="btn btn-primary">Complete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
