{% extends "base.html" %}
{% block content %}
<div class='w-75 m-auto row'>
<h1>Welcome to Home!!!!!!!!!!!!</h1>
{% for task in data %}

<div class="card col-3 m-2" style="width: 18rem;">
    {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
    <div class="card-body">
        <p> {{task.id}} </p>
        <p> {{task.task_assign_date}} </p>
        <p> {{task.task_description}} </p>
        {% if not task.is_completed  %}
        <a href=" {% url "edit_task" task.id %}" class="btn btn-warning">Edit</a>
        <a href=" {% url "delete_task" task.id %}" class="btn btn-danger">Delete</a>
        {% else %}
        <a href="#" class="btn btn-primary">Compelete</a>
        {% endif %}
        <p>
            {% for category in task.category.all %}
            <button class='btn btn-warning btn-sm'>{{ category }}</button>
            {% endfor %}
        </p>
           
     
    </div>
  </div>

{% endfor %}
</div>
{% endblock content %}